<div class="banner" id="bannershowpage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507486990559-1d65aaad9ba6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);">
  <div class="container">
   <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Ingredients
      </div>
      <h2><% @cocktail.doses.each do |dose| %></h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= "#{dose.ingredient.name} #{dose.description}" %></li>
      </ul>
      <% end %>
    </div>
    </div>
    <div class="col">
     </div>
    </div>
  </div>
</div>



<div class="container">
<%= simple_form_for([@cocktail, Dose.new]) do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
</div>

<div class="container mx-auto">
<%= link_to "Back to My Cocktails", cocktails_path%>
</div>
