<div class="banner" id="bannershowpage" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507486990559-1d65aaad9ba6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);">
  <div class="container">
   <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-secondary"><%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail)%></button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-secondary">
        <%= link_to "Delete Cocktail",
                          cocktail_path(@cocktail),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
        <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/restaurants/2"></a>
      </button>
    </div>
  </div>
</div>
<div class="mainbodyinfo my-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card mx-auto" style="width: 80%;">
          <div class="card-header">
            Ingredients
          </div>
          <h2><% @cocktail.doses.each do |dose| %></h2>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= "#{dose.ingredient.name} #{dose.description}" %></li>
          </ul>
          <% end %>
        </div>
      </div>
      <div class="col">
          <img src="https://images.unsplash.com/photo-1550426735-c33c7ce414ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=620&q=80" alt="" style="width: 50%; height: 100%;">
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
<%= simple_form_for([@cocktail, Review.new]) do |f| %>
  <%= f.input :name %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (1..5) %>
  <%= f.submit %>
<% end %>
</div>

<div class="card mx-auto" style="width: 80%;">
  <div class="card-header">
    Reviews
  </div>
  <h2><% @cocktail.reviews.each do |review| %></h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= review.name%></li>
        <li class="list-group-item"><%= "#{review.content} || #{review.rating}" %></li>
  </ul>
  <% end %>
</div>

<div class="container mx-auto">
<%= link_to "Back to My Cocktails", cocktails_path%>
</div>
