<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  </head>

  <body>

    <class class="navbar">
      <p>My Cocktail Bar</p>
      <%= link_to "New Cocktail", new_cocktail_path%>
      <p><%= link_to "Home", cocktails_path%></p>
    </class>
    <%= yield %>
  </body>
</html>
